.pagination { font-size: 14px; }
.pagination li { margin-right: 5px; border-radius: 15px;}
.pagination li:hover { background-color: #eaeaea;}
.pagination li.active span { color: white; background: #716aca; padding: 5px 10px; border-radius: 15px;}
.pagination li.disabled, .pagination li.active { cursor: not-allowed;}
.pagination li a { text-decoration: none; color: black; padding: 5px 10px;}
.pagination li a:hover { background-color: #eaeaea; border-radius: 15px;}

.has-error { border-color: #f4516c;}
span.has-error { color: #f4516c !important; }

#sortable { list-style: none; padding: 10px; padding: 2.2rem 2.2rem;}
#sortable li { display: inline-block; overflow: hidden; cursor: move; padding: 1px; margin: 5px; height: 280px;}

.select2-container--default .select2-selection--multiple .select2-selection__rendered { height: auto;}
